<div class="row align-items-start">
    <div class="col">
        <input [(ngModel)]="dolar" placeholder="Dolar" type="number" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

    <div class="col">
        <input [(ngModel)]="euro" placeholder="Euro" type="number" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>

    <div class="col">
        <input [(ngModel)]="libra" placeholder="Libra" type="number" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
</div>

<div class="row align-items-start">
    <div class="col-12 my-2">
        <input [(ngModel)]="real" placeholder="Valor em Real" type="number" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div>
</div>

<div class="d-grid gap-2 col-6 mx-auto my-2">
    <button class="btn btn-outline-success" type="button" (click)="calc()">Calcular</button>
</div>

<div class="row align-items-start">
    <div class="col-12 my-2">
        <input value="{{result}}" placeholder="Resultado em Dolar" type="text" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" disabled>
    </div>
</div>

<div class="row align-items-start">
    <div class="col-12 my-2">
        <input value="{{result2}}" placeholder="Resultado em Euro" type="text" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" disabled>
    </div>
    
</div>

<div class="row align-items-start">
    <div class="col-12 my-2">
        <input value="{{result3}}" placeholder="Resultado em Libra" type="text" class="form-control"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" disabled>
    </div>
</div>